In [1]:
pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /home/eva/.local/lib/python3.9/site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib64/python3.9/site-packages (from pyarrow) (1.26.4)
WARNING: Value for scheme.platlib does not match. Please report this to <https://github.com/pypa/pip/issues/10151>
distutils: /home/eva/.local/lib/python3.9/site-packages
sysconfig: /home/eva/.local/lib64/python3.9/site-packages
WARNING: Additional context:
user = True
home = None
root = None
prefix = None
Note: you may need to restart the kernel to use updated packages.

In [ ]:
## SOME TESTS TO SEE HOW MANY UNIQUE POLYS WE EXPECT TO FIND DEPENDING ON THE NUMBER OF UNIQUE TRIPLES AND QUADRUPLES ##

In [3]:
import pandas as pd

# Load the Parquet file
df = pd.read_parquet('/run/media/eva/01DA95886B3817A0/Mathfiles/reflexive/reflexive/ws-5d-reflexive-0000.parquet')

df

,weight0,weight1,weight2,weight3,weight4,weight5,vertex_count,facet_count,point_count,dual_point_count,h11,h12,h13
0,1,1,1,1,1,1,6,6,462,7,1,0,426
1,1,1,3,9,14,16,23,13,1548,20,14,0,1385
2,1,1,4,11,31,48,12,10,6829,27,20,0,5828
3,1,1,6,27,35,69,20,13,7327,49,46,0,6314
4,1,1,7,17,38,57,13,9,5575,51,42,0,4832
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46320492,4155,4221,4301,76062,177478,266217,6,6,27,36375,30989,0,11
46320493,4242,4415,5208,83190,194110,291165,6,6,27,36375,30989,0,11
46320494,4250,4405,4446,78606,183414,275121,6,6,27,36375,30989,0,11
46320495,4366,4523,4563,80712,188328,282492,6,6,27,36375,30989,0,11
46320496,4639,4794,4838,85626,199794,299691,6,6,27,36375,30989,0,11

In [4]:
df_sorted = df.sort_values(by='vertex_count')

In [6]:
df_sorted.

,weight0,weight1,weight2,weight3,weight4,weight5,vertex_count,facet_count,point_count,dual_point_count,h11,h12,h13
46320477,3916,3939,4563,74508,173852,260778,6,6,27,36375,30989,0,11
46320478,3922,4033,4038,71958,167902,251853,6,6,27,36375,30989,0,11
46320479,3937,4001,4323,73566,171654,257481,6,6,27,36375,30989,0,11
46320480,3938,4214,4231,74298,173362,260043,6,6,27,36375,30989,0,11
46320482,3944,4168,4455,75402,175938,263907,6,6,27,36375,30989,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,1,9,47,66,123,211,39,44,1537,1489,1290,0,1341
11661,1,31,98,229,359,637,39,38,1601,3180,2758,0,1391
9840,1,28,116,290,435,853,39,38,2406,1784,1581,0,2072
5968,1,21,109,262,393,710,39,43,2492,2326,2020,1,2165
211148,2,35,222,518,777,1452,43,37,1512,2821,2472,0,1312

In [11]:
import pandas as pd

# Select the columns you want to group
grouped_df = df[['h11', 'h12', 'h13']]
# Find unique triples
unique_triples = grouped_df.drop_duplicates()

# Count the number of unique triples
num_unique_triples = unique_triples.shape[0]

print(f"Number of unique triples: {num_unique_triples}")

Number of unique triples: 10684627

In [3]:
import pandas as pd

grouped_df2 = df[['vertex_count','h11', 'h12', 'h13']]

# Find the number of unique triples
num_unique_quads = grouped_df2.value_counts().shape[0]

print(f"Number of unique quadruples: {num_unique_quads}")

Number of unique quadruples: 14102852

In [14]:
This i# Count occurrences of each triple
triple_counts = df.groupby(['h11', 'h12', 'h13']).size().reset_index(name='count')

# Filter to get only the unique triples (count == 1)
unique_triples = triple_counts[triple_counts['count'] == 1]

# Merge the original dataframe with the unique triples to keep only rows with unique triples
unique_rows_df = df.merge(unique_triples[['h11', 'h12', 'h13']], on=['h11', 'h12', 'h13'], how='inner')

print(unique_rows_df)

         weight0  weight1  weight2  weight3  weight4  weight5  vertex_count  \
0              1        1        1        1        1        1             6
1              1        1        3        9       14       16            23
2              1        1        4       11       31       48            12
3              1        1        6       27       35       69            20
4              1        1        7       17       38       57            13
...          ...      ...      ...      ...      ...      ...           ...
7153822      959      970     1013    16639    39162    58743            10
7153823      959     1147     2701    28842    67298   100947            10
7153824      964     1125     1261    20100    46900    70350            11
7153825      973     1007     1062    18252    42588    63882            12
7153826     1006     1007     1650    21978    51282    76923            11

         facet_count  point_count  dual_point_count    h11  h12   h13
0                  6          462                 7      1    0   426
1                 13         1548                20     14    0  1385
2                 10         6829                27     20    0  5828
3                 13         7327                49     46    0  6314
4                  9         5575                51     42    0  4832
...              ...          ...               ...    ...  ...   ...
7153822           11           53              8848   7556    1    34
7153823           12           39             15553  13251    0    23
7153824           14           39             14680  12515    2    23
7153825           16           43             10190   8679    3    27
7153826           14           39             17388  14814    0    23

[7153827 rows x 13 columns]

print(unique_triples)

In [18]:
print(unique_triples)

             h11  h12   h13  count
0              1    0   426      1
1              9    0   148      1
2             12    0  1090      1
3             14    0  1385      1
4             14    8   450      1
...          ...  ...   ...    ...
10684542  258369    0   267      1
10684565  261811    0   265      1
10684596  268693    0   263      1
10684606  272126    0   262      1
10684613  275567    0   261      1

[7153827 rows x 4 columns]

/usr/local/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

KeyboardInterrupt:

In [4]:
import pandas as pd

# Load the Parquet file
parquet_file = '/run/media/eva/01DA95886B3817A0/Mathfiles/reflexive/ws-5d-reflexive-0000.parquet'
df = pd.read_parquet(parquet_file)

# Ensure the dataframe has at least 6 columns
if df.shape[1] < 6:
    raise ValueError("The dataframe must have at least 6 columns")

# Select the first 6 columns
columns = df.iloc[:, :6]

# Calculate the sum of the first 6 columns
columns['d'] = columns.sum(axis=1)

# Create the desired format
output_df = columns[['d'] + columns.columns.tolist()[:-1]]

# Convert to the required text format
output_file = 'output.txt'
output_df.to_csv(output_file, sep=' ', header=False, index=False)

/tmp/ipykernel_46733/3500676187.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  columns['d'] = columns.sum(axis=1)